@use "_colors" as c;
@use "_mixins" as m;

.header {
  @include m.flex-center;
}

.logo {
  @include m.flex-center;
  flex-direction: column;
  padding: 20px 0;
  font-weight: 900;
  font-size: 1.2em;
}

#logo {
  width: 70px;
  padding-bottom: 5px;
}
