@use "_colors" as c;
@use "_mixins" as m;

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  position: absolute;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-color: c.$main;
  @include m.noselect;
}

.btn-menu {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 40px;
  cursor: pointer;
}

.btn-close-menu {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 100px;
}
