@use "_colors" as c;
@use "_mixins" as m;

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  width: 100dvw;
  background-color: c.$main;
}

.btn-menu {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 40px;
  cursor: pointer;
}

.btn-close-menu {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.menu-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; /* Centre son contenu */
  gap: 2em;
  padding: 0 20px;
  width: 300px;
}

.btn-overlay-menu {
  width: 100%;
}

.footer {
  justify-self: self-end;
  text-align: center;
  margin-top: auto;
  padding: 10px;
}

.strong {
  font-weight: 900;
}

.underline {
  text-decoration: underline;
}
